<!-- <h1 mat-dialog-title style="color: black;">{{datos.titulo}}</h1>
<div mat-dialog_content>
    <p>{{datos.mensaje}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close style="background-color: red; color: white;">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" cdkFocusInitial style="background-color: green; color: white;">Aceptar</button>
</div> -->

<h1 mat-dialog-title class="dialog-title">{{datos.titulo}}</h1>
<mat-dialog-content>
    <p>{{datos.mensaje}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" cdkFocusInitial class="accept-button">Aceptar</button>
</mat-dialog-actions>

