<h1 mat-dialog-title class="dialog-title" >Editando campeonato</h1>
<div mat-dialog-content>
    <p>{{datos.encabezado}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre Torneo</mat-label>
        <input matInput [(ngModel)]="datos.campeonato.nombre">

    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select [(value)]="datos.campeonato.pais.id">
            <mat-option *ngFor="let p of datos.paises" [value]="p.id">
                {{p.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Año</mat-label>
      <input type="number" matInput [(ngModel)]="datos.campeonato.ano">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" cdkFocusInitial class="accept-button">
      Aceptar
    </button>
</div>


